<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Login/Registration</title>
    <style>
        .container{
            padding-top: 25px;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User {{ id }}</h1>
        {% if messages %}
            {% for message in messages %}
                <p class="text text-success">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                First Name:
                <span class="badge">{{ first_name }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Last Name:
                <span class="badge">{{ last_name }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Email
                <span class="badge">{{ email }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Created_at
                <span class="badge">{{ created_at|date:"M D, Y" }}</span>
            </li>
        </ul>
    
        <br>
        <a href="{{ id }}/edit" class="btn btn-primary">Edit</a> | 
        <a href="{{ id }}/destroy" class="btn btn-danger">Delete</a> |
        <a href="/users" class="btn btn-primary">Go Back</a>
    </div>
</body>
</html>